@font-face {
    font-family: arialBold;
    src: url('../../assets/fonts/arial/FontsFree-Net-arial-bold.ttf');
}


@font-face {
    font-family: arialRegular;
    src: url('../../assets/fonts/arial/arial.ttf');
}

@font-face {
    font-family: avantGardeMedium;
    src: url('../../assets/fonts/avant-garde/ITCAvantGardeStdMd.woff');
}

body {
    margin: 0;
}

input:focus {
    outline: none;
}


.back_button button {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}

.back_button i {
    font-size: 10px;
    padding-right: 5px;
}


.step1_title h2 {
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    -webkit-text-stroke: .5px #000000;
}

.step1_title p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    margin: 0;

}

.step1_body .step_progress img {
    width: 100px;
    margin-left: -28px;
}

.step1_body .step_progress img:nth-child(1) {
    margin-left: -9px;
}


.step_select_network h3 {
    font-size: 15px;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    text-align: center;
    color: #000000;
}

.networks_content {
    text-align: center;
    border: 2px solid #B1B1B1;
    padding: 15px;
    margin: 40px auto;
    width: 200px;
    border-radius: 8px;
    box-shadow: #0000004d 0 3px 6px;
    display: block;
    background: #fff;
}


.step1_body .networks_content img {
    width: 50px;
}

.active_network {
    box-shadow: #D37091 0 3px 6px;
    border-color: #D37091;
}

.help_content {
    margin-bottom: 35px;
    text-align: center;
}

.help_content p {
    font-size: 14px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;

}

.default_buttons {
    background: #4471B7;
    padding: 12px 42px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 16px;
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed', sans-serif;
    border: none;
    border-radius: 10px;
}

.help_content button {
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    text-decoration: underline;
    padding: 0;
}

.step_check {
    text-align: center;
}

.disabled_button {
    opacity: 0.5;
}

.help_modal_overlay {
    background: #D37091 !important;
    opacity: 0.4 !important;
    border: none;
}


.step_check button {
    background: #4471B7;
    padding: 12px 42px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 16px;
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed', sans-serif;
    border: none;
    border-radius: 10px;
}

.step1_help_modal .react-responsive-modal-closeButton svg {
    fill: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
    background: #D37091;

}

.step1_help_modal {
    border: 1px solid #D37091;
    border-radius: 10px;
}

.step1_help_modal h2 {
    color: #000000;
    font-size: 24px;
    font-family: arialBold;
    text-align: center;
    margin-top: 45px;
}


.step1_help_modal p {
    font-size: 16px;
    color: #000000;
    font-family: arialRegular;
    max-width: 260px;
    text-align: center;
    margin: 42px auto;

}

.checked_network {
    margin-top: 100px;
}

.checked_network p {
    font-size: 18px;
    color: #134B97;
    text-align: center;
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed', sans-serif;
    padding: 0 60px;
    margin: 0;
}

.checked_network h2 {
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    color: #134B97;
    text-align: center;
    margin-bottom: 10px;
}

.step_check .start_button {
    padding: 12px 62px;
}

.start_button_content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18px;
}


.imei_check_content p {
    font-size: 15px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
    padding: 24px;
    text-align: center;
}


.imei_check_input {
    text-align: center;
}

.imei_check_input input {
    padding: 13px;
    border-color: #4471B7;
    border-radius: 10px;
    margin-left: 40px;

}

.imei_check_input img {
    vertical-align: middle;
    margin-left: 15px;
}

.imei_check_input input::placeholder {
    text-align: center;
    font-size: 18px;
    color: #5C5C5C;
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed', sans-serif;
    vertical-align: middle;
}


.imei_check_content span {
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;

}


.imei_check_submit {
    text-align: center;
    margin-top: 30px;
}

.imei_check_submit button {
    padding: 14px 80px;
}

.imei_info {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #D37091;
}

.imei_info span {
    font-size: 16px;
    color: #000000;
    font-family: arialBold;
}

.imei_modal p {
    margin: 13px 18px;
}

.lines_select {
    margin-top: 40px;
}

.lines_select h3 {
    font-size: 15px;
    text-align: center;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;

}

.lines_select {
    text-align: center;
}

.lines_select div {
    border: 2px solid #4471B7;
    border-radius: 50px;
    padding: 6px 8px;
    display: inline-block;
    vertical-align: super;
}

.lines_select div i {
    font-weight: bold;
    color: #4471B7;
}

.user_icons {
    color: #134B97;
    padding: 6px 9px;
    font-size: 30px;
    font-weight: 300;

}

.active {
    padding: 6px 9px;
    font-size: 28px;
    color: #F59572;
    -webkit-text-stroke: 1px #134B97;

}

.plan_tabs .react-tabs__tab-list {
    border: none;
    text-align: center;
}

.plan_tabs .react-tabs__tab--selected {
    border: none;
}

.plan_tabs .react-tabs__tab {
    padding: 7px 4px;
    color: #000000;
    font-size: 14px;
    font-family: avantGardeMedium;
}

.plan_tabs .react-tabs__tab:first-child {
    margin-right: 40px;
}


.plan_tabs .react-tabs__tab svg, .plan_tabs .react-tabs__tab img {
    display: block;
    margin: 0 auto;
    fill: #4471b7;
}

.plan_tabs .react-tabs__tab .active_svg {
    fill: #78962c;
}

.slider_info {
    border: 2px solid #134B97;
    border-radius: 50%;
    width: 114px;
    height: 114px;
    padding: 8px;
    background: #DBE4F2;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.react-tabs__tab-panel--selected {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider_info h2 {
    font-size: 22px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    margin: 0;
}

.save_find {
    display: flex;
    justify-content: center;
}

.slider_info p {
    font-size: 14px;
    color: #000000;
    font-family: avantGardeMedium
}

.tab_plan_content {
    background: #78962C1A;
    display: flex;
    flex-direction: column;
    min-height: 433px;
}

.round_block {
    display: flex;
    justify-content: center
}

.enter_plan_title {
    font-size: 15px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    text-align: center;

}

.plan_title {
    color: #000000;
    font-size: 14px;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.rc-slider {
    max-width: 260px;
    margin: 0 auto;

}

.rc-slider-step {
    background: #134B97;
}

.rc-slider-handle {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -12px;
    border-color: #78962C;
    background: #78962C;
    box-shadow: #0000004D 0 3px 6px;
}

.rc-slider-handle:active, .rc-slider-handle:hover {
    border-color: #78962C;
    background: #78962C;
}

.rc-slider-dot {
    background: none;
    border: none;
}

.rc-slider-dot:after {
    top: 2px;
    content: '';
    position: absolute;
    height: 16px;
    width: 3px;
    background: #134B97;
    left: 2px;
}


.rc-slider-mark-text {
    color: #134B97;
    margin-top: 8px;
    font-size: 14px;
    font-family: avantGardeMedium;
}


.medium_slider {
    width: 144px;
    height: 144px;
    margin-top: 20px;
}

.medium_slider h2 {
    font-size: 32px;
}

.medium_slider p {
    font-size: 16px;
}

.large_slider {
    width: 168px;
    height: 168px;
    margin-top: 18px;
}

.large_slider h2 {
    font-size: 36px;
}

.large_slider p {
    font-size: 18px;
}

.extra_slider {
    width: 193px;
    height: 193px;
    margin: 0;
}

.extra_slider h2 {
    font-size: 46px;
}

.extra_slider p {
    font-size: 20px;
}

.active_label {
    bottom: 47px;
    position: absolute;
    left: -16px;
}

.monthly_pay_content h2 {
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    margin: 0 0 10px 0;
    padding: 13px 70px;
}

.monthly_pay_content span {
    font-size: 14px;
    font-family: avantGardeMedium;
    color: #000000;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.pay_input_content input {
    width: 75px;
    border: 2px solid #4471B7;
    border-radius: 14px;
    padding: 13px;
    margin: 0 auto 10px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
}


.monthly_pay_content p {
    font-size: 15px;
    color: #000000;
    text-align: center;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
    padding: 13px 70px;
}

.pay_input_content input::placeholder {
    color: #000000;
    font-size: 18px;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;

}


.plan_title h2 {
    font-size: 24px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    text-align: center;
}


.recommended_plan h2 {
    font-size: 18px;
    color: #000000;
    font-family: avantGardeMedium;

}

.recommended_plan span {
    font-size: 22px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;

}

.plan_info h3, .plan_description h3 {
    font-size: 24px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
}


.plan_info h4, .plan_description h4 {
    font-size: 18px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
}

.plan_info p {
    font-size: 16px;
    color: #000000;
    font-family: avantGardeMedium;
}

.plan_description ul li span {
    font-size: 16px;
    color: #000000;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;

}

.plan_description ul li {
    font-size: 16px;
    color: #000000;
    font-family: avantGardeMedium;
}

.plan_save a{
    color: #134B97;
    font-size: 16px;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    text-decoration: underline;
}

.plan_save button{
    font-size: 16px;
    font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
    color: #5C5C5C;
    background: none;
    border: none;
    padding-left: 68px;
}

@media (max-width: 991px) {
    .step1_body {
        position: relative;
    }

    .step1_body img {
        width: 100%;
    }

    .back_button {
        position: absolute;
        left: 6px;
        top: 17px;
    }

    .logo_content {
        position: absolute;
        right: 27px;
        top: 12px;

    }

    .step1_title {
        position: absolute;
        top: 75px;
        left: 16px;
    }

}